/*
 é criada a animação "anima_balao" que tem a duração de 10s
 e em seu final o balão faz o mesmo caminho de ida
 para retornar a sua posição inicial
*/

.meu_balao {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: anima_balao 10s infinite alternate; 
}

/*
 quadros-chave para a animação do balao
*/

@keyframes anima_balao
{
    0%   { left: 0px; }
    50%  { left: 100px;  top: 80px; }
    100% { left: 150px;  top: 0px;  }
}
